{block content}


{block navbar}
    <div class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <span class="navbar-brand"><a class="navbar-brand p-0" n:href=Branches: >Fleenk </a></span>
    </div>

{/block}

<div class="mt-4">
    <h1 n:block=title>Sign In</h1>
    {include bootstrap-form signInForm}
</div>

